@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h1>My name is Sraavya. I love to read and draw.</h1>

<table border="1">
    <tr>
        <td>Harry Potter</td>
        <td>Percy Jackson</td>
        <td>Hunger Games</td>
    </tr>
    <tr>
        <td colspan="2">Monday</td>
        <td>Tuesday</td>
    </tr>
    <tr>
        <td rowspan="2">Wedsnday</td>
        <td>Thursday</td>
        <td>Friday</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>Sunday</td>
    </tr>
</table>


<br />
<hr />


<table border=1> 
    
    <tr> 
<td></td> 
 <td>Sunday</td>
<td>Monday</td>
<td>Tuesday</td>
<td>Wednsday</td>
<td>Thursday</td>
<td>Friday</td>
<td>Saturday</td>    
</tr>

<tr>
<td>Morning</td>
<td rowspan=3>Play</td>
<td colspan=3>School</dr>
<td colspan=2>PE</td>
<td>Homework</td>
</tr>

<tr>
<td>Afternoon</td>
<td rowspan=2 colspan=2>Art</td>
<td colspan=3>Social</td>
<td>Lunch</td>
</tr>

<tr>
<td>Evening</td>
<td colspan=3>Science</td>
<td>Homework</td>

</tr>

<tr>
<td>Night</td>
<td COLSPAN =7>Sleep</td>    

<IMG SRC= ALT="Sraavya Pratap" WIDTH=32 HEIGHT=32>

<table border=1>
<tr>
<td>Innings 1 </td>
<td>Innings 2</td>
<td>Innings 3</td>
<td>Innings 4</td>
<td>Innings 5</td>
<td>Innings 6</td>
<td>Innings 7</td>
<td>Innings 8</td>
<td>Innings 9</td>
<td>Innings 10</td>
</tr>
<tr>
<td>Runs A</td>
<td>10</td>
<td>20</td>
<td>30</td>
<td>40</td>
<td>50</td>
<td>60</td>
<td>70</td>
<td>80</td>
<td>90</td>
</tr>
<tr>
<td>Runs B</td>
<td>10</td>
<td colspan=3>20</td>
<td rowspan=4>50</td>
<td>60</td>
<td>70</td>
<td>80</td>
<td>90</td>
</tr>
<tr>
<td>Runs C</td>
<td><rowspan=2>10</td>
<td>30</td>
<td>40</td>
<td>60</td>
<td>70</td>
<td>80</td>
<td></td>
<td></td>
</tr>

<tr>
<td>Runs D</td>
<td>10</td>
<td>20</td>
<td rowspan=2>30</td>
<td rowspan=2 colspan=2>60</td>
<td>80</td>
<td>90</td>
</tr>
<tr>
<td>Runs E</td>
<td>10</td>
<td>20</td>
<td rowspan=2>30</td>
<td>50</td>
<td rowspan=2 colspan=2>60</td>
</tr>
<tr>
<td>Runs F</td>
<td rowspan=3 colspan=2>10</td>
<td>50</td>
<td>60</td>
</tr>
<tr>
<td>Runs G</td>
<td>10</td>
<td>20</td>
<td>30</td>
<td>40</td>
</tr>
<tr>

</tr>
<td>Runs H</td>
<td>10</td>
<td>20</td>
<td>30</td>
<td>40</td>
<td>50</td>
<td>60</td>
<td>70</td>
<td>80<td>
<td>90</td>






























</table>

    
    














































































































































































































































































































































































































































































































